html,body{
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
}
/* --------------------
    Banner part started 
-----------------------*/
.banner-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 1321px;
    height: 646px;
    font-family: 'Gulzar', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: #161616;;
    margin:50px auto 0 auto;
    border-radius: 30px;
}
.banner-part h1{
    color: white;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin: 0;
    padding-left: 106px;
}
.banner-part p{
    width: 506px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: white;
    padding-left: 106px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.banner-part .button{
    width: 187px;
    height: 56px;
    margin-left: 106px;
    padding: 16px 25px;
    background-color: #DD0000;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    box-shadow: inset 0 0 0 0 #800000;
    transition:  ease-out 1s;
}
.button:hover{
    box-shadow: inset 187px 0 0 0 #800000;
}

.banner-part img{
    width: 581px;
    height: 613px;
    margin-top: 37px;
    margin-right: 79px;
}
/* --------------------
    Banner part Ended 
-----------------------*/

/* --------------------
    Middle part Started 
-----------------------*/

/* --------------------
    Middle side part Started 
-----------------------*/
.middle-part{
    display: flex;
    width: 312px;
    height: 312px;
    font-family: 'Gulzar', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: #161616;
    border-radius: 10px;
    margin-left: 283px;
    margin-top: 130px;
}
.middle-side-part {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.button-1,.button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 0 30px;
    width: 252px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}
.button-3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 30px 0 30px;
    width: 252px;
    height: 64px;
    background: #DD0000;
    /* background: #FFFFFF; */
    border-radius: 10px;
}
.button-1 a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
}
.button-2 a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
} 
.button-3 a{
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    color: white;
    font-weight: 600;
}
.middle-side-part a:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 252px;
    height: 64px;
    font-weight: 600;
    line-height: 30px;
    background: #DD0000;
    color: #FFFFFF;
    border-radius: 10px;
    
}
/* --------------------
    Middle side part Ended 
-----------------------*/

/* --------------------
    Middle side another part Started 
-----------------------*/
.middle-side-another-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;
    font-family: 'Gulzar', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-left: 24px; 
}
.blog{
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.blog img{
    width: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}
.blog button{
    margin: 20px 192px 0 20px;
    border-radius: 5px;
    border: 1px solid #161616;
}
.blog h3{
    width: 272px;
    height: 54px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
    padding-left: 20px;
}
.time-message{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 170px;
}
/* --------------------------
    Middle side another part Ended 
    -------------------------------*/

/* --------------------
    Middle part Ended 
-----------------------*/

/*--------------- 
    Footer Started 
    ---------------*/
.footer-part{
    width: 100%;
    height: 444px;
    background: #161616;
    font-family: 'Gulzar', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top: 950px;
}
.footer-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.footer-header h1{
    width: 95px;
    height: 60px;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    margin: 115px auto 50px auto;
}
hr{
    width: 1320px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    margin: 0 auto;
}
.lower-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 50px;
}
.lower-footer a{
    text-decoration: none;
    padding: 0 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B9B9B9;
}
.media-links{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.media-links a{
    text-decoration: none;
    padding: 0 20px;
}
/*--------------- 
    Footer Ended 
    ---------------*/

/*--------------------------- 
Media Query-Responsive website 
-----------------------------*/

/* For Mobile Devices */
@media only screen and (max-width:688px) {
    .banner-part {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 334px;
        height: 535px;
        margin: 44px 20px 0 28px;
    }

    .banner-part h1 {
        width: 200px;
        height: 66px;
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
        margin-top: 28px;
        text-align: center;
    }

    .banner-part p {
        width: 258px;
        height: 48px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        text-align: center;
    }

    .banner-part .button {
        width: 187px;
        height: 56px;
        margin-right: 100px;
        margin-top: 34px;
        border: none;background-color: #DD0000;
        border-radius: 5px;
        color: white;
        padding: 16px 25px;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        box-shadow: inset 0 0 0 0 #800000;
        transition: ease-out 1s;
    }
        .button:hover {
            box-shadow: inset 187px 0 0 0 #800000;
        }

    .banner-part img {
        width: 233px;
        height: 245px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        margin-top: 0;
        padding-top: 17.5px;
        padding-left: 15px;
    }

    .middle-part {
        background: white;
        text-align: center;
        margin: 24px auto 0 auto;
        padding: 0;
    }

    .button-1 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #161616;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }

    .button-2 {
        width: 160px;
        height: 48px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #161616;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }

    .button-3 {
        width: 160px;
        height: 48px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #161616;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        background: #DD0000;
    }

    .middle-part {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .middle-side-another-part {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 0;
    }

    .blog {
        text-align: center;
        padding-left: 0;
        margin-right: 40px;
    }

    .blog button {
        margin-left: 4px;
    }

    .blog h3 {
        width: 240.05px;
        height: 56px;
        padding-left: 28px;
    }

    .time-message {
        margin-left: 31px;
    }

    .footer-part {
        margin-top: 3500px;
    }

    .main-footer {
        width: 100%;
        height: 500px;
        background: #161616;
    }

    .footer-header h1 {
        margin-top: 25px;
        margin-bottom: 0px;
    }

    hr {
        margin-top: 24px;
    }

    .lower-footer {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        gap: 20px;
    }
}




















































































































































































































































